@(tasks: Seq[Task])

@navbar = {}

@scripts = {
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/services.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
}

@main("Tasks", scripts)(navbar) {

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <table class="table table-striped">
                <tr>
                    <th>Description</th>
                    <th>Complete ?</th>
                </tr>
                <tr>
                    @for(task <- tasks) {
                        <td>@task.description</td>
                        <td><a href="#">X</a></td>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>
}
